@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  height: 100vh;
  background: #dff9fb !important;
}

.ant-form-item-with-help .ant-form-item-explain {
  min-height: 0 !important;
  height: 0 !important;
}

.btn-todo-item > span {
  font-weight: 500;
  font-size: 16px;
}
